<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Booom!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The main CSS file -->
    <link href="../statics/css/main.css" rel="stylesheet">

    <!-- CSS file for your custom modifications -->
    <!--<link href="css/custom.css" rel="stylesheet">-->

    <!--<link rel="shortcut icon" href="images/favicon.ico">-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <!--<script src="js/html5shiv.js"></script>-->
    <![endif]-->
</head>


<!-- Scrollspy set in the body -->
<body id="home" data-spy="scroll" data-target=".main-nav" data-offset="73">

<!--//////////////////////////////////////// NEWSLETTER SECTION ////////////////////////////////////////-->

<section id="newsletter">

    <div class="container">
        <!--<div class="row">-->

        <!--<div class="col-md-12">-->
        <!--<p class="lead">Bug Localization!</p>-->
        <h1 style="color: white">BugPecker Tool</h1>
        <!--</div>-->

        <!--<div class="col-md-6">-->

        <!--////////// Newsletter Form //////////-->
        <!--<form id="newsletter-signup">-->
        <!--<div class="input-group">-->
        <!--<input type="text" name="e-mail" id="e-mail" class="form-control input-hg">-->
        <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-inverse btn-hg" type="submit" name="submit">Sign Up</button>-->
        <!--</span>-->
        <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
        <!--</form>-->
        <!--////////// end of Newsletter Form ///////////-->

        <!--<div id="error-info"></div>&lt;!&ndash; Error notification for newsletter signup form &ndash;&gt;-->

        <!--</div>-->

    </div><!-- /row -->
    <!--</div>&lt;!&ndash; /container &ndash;&gt;-->

</section>

<!--//////////////////////////////////////// end NEWSLETTER SECTION ////////////////////////////////////////-->

<!--/////////////////////////////////////// FEATURES SECTION ////////////////////////////////////////-->

<section id="features">

    <div class="container">

        <!--<header>-->
            <!--<p class="lead">Suspicious Method.</p>-->
        <!--</header>-->

        <!--<div class="row">-->
        <div class="pad">
            <!-- Progress bars -->
            <div class="clearfix">
                <a href="https://"><span class="pull-left">Bandwidth</span></a>
                <small class="pull-right">0.333</small>
            </div>
            <div class="progress xs">
                <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
            </div>

            <div class="clearfix">
                <span class="pull-left">Transfered</span>
                <small class="pull-right">0.32</small>
            </div>
            <div class="progress xs">
                <div class="progress-bar progress-bar-red" style="width: 70%;"></div>
            </div>

            <div class="clearfix">
                <span class="pull-left">Activity</span>
                <small class="pull-right">73%</small>
            </div>
            <div class="progress xs">
                <div class="progress-bar progress-bar-light-blue" style="width: 70%;"></div>
            </div>

            <div class="clearfix">
            <span class="pull-left">FTP</span>
            <small class="pull-right">30 GB</small>
        </div>
            <div class="progress xs">
                <div class="progress-bar progress-bar-aqua" style="width: 70%;"></div>
            </div>

            <div class="clearfix">
                <span class="pull-left">FTP</span>
                <small class="pull-right">30 GB</small>
            </div>
            <div class="progress xs">
                <div class="progress-bar progress-bar-aqua" style="width: 70%;"></div>
            </div>
            <!-- Buttons -->
            <p>
                <button class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> Generate PDF</button>
            </p>
        </div><!-- /.pad -->

    </div><!-- /container -->

</section>

<!--/////////////////////////////////////// end FEATURES SECTION ////////////////////////////////////////-->


<!--//////////////////////////////////////// JAVASCRIPT LOAD ////////////////////////////////////////-->

<!-- Feel free to remove the scripts you are not going to use -->
<!--<script src="/js/jquery-1.8.3.min.js"></script>-->
<!--<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>-->
<!--<script src="/js/jquery.ui.touch-punch.min.js"></script>-->
<!--<script src="/js/bootstrap.min.js"></script>-->
<!--<script src="/js/jquery.isotope.min.js"></script>-->
<!--<script src="/js/jquery.magnific-popup.js"></script>-->
<!--<script src="/js/jquery.fitvids.min.js"></script>-->
<!--<script src="/assets/twitter/jquery.tweet.js"></script>-->
<!--<script src="/js/bootstrap-select.js"></script>-->
<!--<script src="/js/bootstrap-switch.js"></script>-->
<!--<script src="/js/flatui-checkbox.js"></script>-->
<!--<script src="/js/flatui-radio.js"></script>-->
<!--<script src="/js/jquery.tagsinput.js"></script>-->
<!--<script src="/js/jquery.placeholder.js"></script>-->
<!--<script src="/js/custom.js"></script>-->

<!--//////////////////////////////////////// end JAVASCRIPT LOAD ////////////////////////////////////////-->

</body>
<style>
    span {
        /*margin-top: -40px;*/
        /*margin-left: 20%;*/
        font-size: 60px;
        /*float: left;*/
    }
    p{
        text-align: center;
    }

</style>
</html>
